{% extends 'base.html' %}

{% block content %}
    <div class="post-detail">
        <h1 class="my-0">{{ post.title }}</h1>
    
        <small> </small>
        <small>
            Author: {{post.author}}
            - <a href="{% url 'update_post' post.pk %}">Edit</a>
            (<a href="{% url 'delete_post' post.pk %}">Delete</a>)
        </small>
        <br/>
        <br/>
    
        <div class="post-body">{{ post.body|linebreaks }}</div>
        <a href="{% url 'index' %}"type="button" class="btn btn-dark mt-3">Back</a>
    </div>
    <h2>Comments</h2>

    {% if post.comments.all %}
        {% for comment in post.comments.all %}
            <strong>{{ comment.name }} - {{ comment.date }}</strong>
            <br/>
            {{ comment.body }}
            <br/>
            <br/>
        {% endfor %}
    {% else %}
        No comments ... <a href="{% url 'add_comment' post.pk %}"> Add a comment </a>
    {% endif %}
{% endblock %}